<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição</title>
</head>
<body>
    <h1>Edição de Produto</h1>
    <p>ID: {{this.id}}</p>
    <br>
    <form action="/produtos/editar/{{this.id}}" method="post">
    <label for="nome">Nome do Produto:</label>
    <input type="text" id="nome" name="nome" value="{{this.nome}}" required><br><br>

    <label for="destinacao">Destinação do Produto:</label>
    <input type="text" id="destinacao" name="destinacao" value="{{this.destinacao}}" required><br><br>

    <label for="taxa_rentabilidade">Taxa de Rentabilidade:</label>
    <input type="number" id="taxa_rentabilidade" name="taxa_rentabilidade" value="{{this.taxa_rentabilidade}}" required><br><br>

    <label for="prazo">Prazo em meses:</label>
    <input type="number" id="prazo" name="prazo" value="{{this.prazo}}" required><br><br>

    <label for="taxa_administracao">Taxa de Administração:</label>
    <input type="number" step="0.01" id="taxa_administracao" name="taxa_administracao" value="{{this.taxa_administracao}}" required><br><br>

    <label for="vencimento">Data de Vencimento:</label>
    <input type="date" id="vencimento" name="vencimento" value="{{this.vencimento}}" required><br><br>

    <button type="submit">Salvar Edições</button>
    </form>
</body>
</html>

