<h1>Lista de Produtos</h1>
<ul>
  {{#each produtos}}
  <div>
    <p>Nome: {{this.nome}}</p>
    <p>Status: {{this.status}}</p>
    <p>Destinação: {{this.destinacao}}</p>
    
    <form action="/produtos/delete/{{this.id}}" method="post">
      <button type="submit">Deletar</button>
    </form>

    <form action="/produtos/mudar-status/{{this.id}}" method="post">
      <button type="submit">Mudar status</button>
    </form>
    <hr>

  </div>
  {{/each}}
</ul>
